<div data-role="header" data-position="fixed" data-theme="z" align="center">
	<a href="" id="panel_pulsado" data-theme="z" data-icon="bars" data-iconpos="notext"></a>		
	<h2>PATROCINADOR</h2>
	<a href="#home" id="volver_home" data-theme="Z" data-icon="home" data-iconpos="notext"></a>		
</div>

<div id="lista_patrocinadores" data-role="content" data-theme="d"> 
	<div align="center">
		<img height="80px" src="<%= logo_url%>"><br />
		<strong><%= nombre %></strong><br />		
		<p>
			<% if(telefono!="") {%>
				<a id="icono_telefono" href="callto:<%= telefono%>"><img class="ponente_btn" src="assets/images/callme.png"></a>
			<% } %>

			<% if(mail!="") {%>
				<a id="icono_email" href="mailto:<%= mail%>"><img class="ponente_btn" src="assets/images/email.png"></a>
			<% } %>			

			<% if(web!="") {%>			
				<!--<a id="icono_web" href="<%= web%>" target="_blank" rel="external"><img class="ponente_btn" src="assets/images/web.png"></a>-->
				<!-- <a id="icono_web" href="#marco-patrocinador/<%= clave%>" target="_blank" rel="external"><img class="ponente_btn" src="assets/images/web.png"></a>-->
				<!-- <a id="icono_web" href="www.avaya.com"><img class="ponente_btn" src="assets/images/web.png"></a> -->
				<a href="<%= web%>" onclick="window.open('<%= web%>', '_system', 'location=yes');"><img class="ponente_btn" src="assets/images/web.png"></a>								
			<% } %>
			
			<% if(twitter!="") {%>
                <a id="icono_twitter" href="<%= twitter%>"><img class="ponente_btn" src="assets/images/twitter.png"></a>
            <% } %>
		</p>
	</div>
  <p align="justify"><small><%= info %></small></p>
</div>
