<div data-role="header" data-position="fixed" data-theme="a" align="center">
	<a href="" id="panel_pulsado" data-theme="a" data-icon="bars" data-iconpos="notext"></a>		
	<h2>PATROCINADOR</h2>
	<a href="#home" id="volver_home" data-theme="a" data-icon="home" data-iconpos="notext"></a>		
</div>

<div id="lista_patrocinadores" data-role="content" data-theme="a"> 
	<div align="center">
		<img height="80px" src="<%= logo_url%>"><br />				
		<p>
	</div>
		<div data-role="header" data-theme="a" align="center">
            <h5>Contacto</h5>  
        </div>
    <div align"left">
			<% if(telefono!="") {%>
				<a id="icono_telefono" href="callto:<%= telefono%>"><img class="ponente_btn" src="assets/images/callme.png"><%= telefono%></a>
			<% } %>
            <br>
			<% if(mail!="") {%>
				<a id="icono_email" href="mailto:<%= mail%>"><img class="ponente_btn" src="assets/images/email.png"><%= mail%></a>
			<% } %>			
            <br>
			<% if(web!="") {%>			
				<a id="icono_web" href="<%= web%>" target="_blank"><img class="ponente_btn" src="assets/images/web.png"><%= web%></a>
				<!-- <a id="icono_web" href="#marco-patrocinador/<%= clave%>" target="_blank" rel="external"><img class="ponente_btn" src="assets/images/web.png"></a>-->
				<!-- <a id="icono_web" href="www.avaya.com"><img class="ponente_btn" src="assets/images/web.png"></a> -->
				<!--<a href="<%= web%>" onclick="window.open('<%= web%>', '_system', 'location=yes');"><img class="ponente_btn" src="assets/images/web.png"><%= web%></a>-->								
			<% } %>
			<br>
			<% if(twitter!="") {%>
                <a id="icono_twitter" href="<%= twitter%>" target="_blank"><img class="ponente_btn" src="assets/images/twitter.png"><%= twitter_corto%></a>
            <% } %>
            <br>
		</p>
	</div>
	<div data-role="header" data-theme="a" align="center">
            <h5>Más info ...</h5>  
        </div>
  <p align="justify"><small><%= info %></small></p>
</div>
