<li data-icon="false">
	<a><img src="<%= url_icono %>">
	    <p><strong><%= hora %></strong> <%= titulo_linea1 %></p>	         
	    <% if(titulo_linea2!="") {%>
	        <p><%= titulo_linea2 %></p>                
        <% } %>
        
        <% if(titulo_linea3!="") {%>
            <p><%= titulo_linea3 %></p>                
        <% } %>
        
        <% if(titulo_linea4!="") {%>
            <p><%= titulo_linea4 %></p>                
        <% } %>
        
        <% if(titulo_linea5!="") {%>
            <p><%= titulo_linea5 %></p>                
        <% } %>
        
        <% if(moderador!="") {%>
            <p>Modera: <strong><i><%= moderador %></i></strong></p>                
        <% } %>
        
        <% if(empresa_moderador!="") {%>
            <p><small><strong><%= empresa_moderador %></strong></small></p>               
        <% } %>
        
        <% if(ponente1!="") {%>
            <p><strong><i><%= ponente1 %></i></strong></p>              
        <% } %>
        
        <% if(empresa_ponente1!="") {%>
            <p><small><strong><%= empresa_ponente1 %></strong></small></p>               
        <% } %>
        
        <% if(ponente2!="") {%>
            <p><strong><i><%= ponente2 %></i></strong></p>              
        <% } %>
        
        <% if(empresa_ponente2!="") {%>
            <p><small><strong><%= empresa_ponente2 %></strong></small></p>               
        <% } %>
        
        <% if(ponente3!="") {%>
            <p><strong><i><%= ponente3 %></i></strong></p>              
        <% } %>
        
        <% if(empresa_ponente3!="") {%>
            <p><small><strong><%= empresa_ponente3 %></strong></small></p>               
        <% } %>
        
        <% if(ponente4!="") {%>
            <p><strong><i><%= ponente4 %></i></strong></p>              
        <% } %>
        
        <% if(empresa_ponente4!="") {%>
            <p><small><strong><%= empresa_ponente4 %></strong></small></p>               
        <% } %>
        
        <% if(ponente5!="") {%>
            <p><strong><i><%= ponente5 %></i></strong></p>              
        <% } %>
        
        <% if(empresa_ponente5!="") {%>
            <p><small><strong><%= empresa_ponente5 %></strong></small></p>               
        <% } %>
                      
</li>