<li>
	<a><img src="<%= url_icono %>">
	    <p><strong>Horario: </strong><%= hora %></p>
	    <p><strong>Lugar: </strong></p><%= titulo_linea1 %></p>	         
	    <% if(titulo_linea2!="") {%>
	        <p><%= titulo_linea2 %></p>                
        <% } %>
        
        <% if(titulo_linea3!="") {%>
            <p><%= titulo_linea3 %></p>                
        <% } %>
        
        <% if(titulo_linea4!="") {%>
            <p><%= titulo_linea4 %></p>                
        <% } %>
        
        <% if(titulo_linea5!="") {%>
            <p><%= titulo_linea5 %></p>                
        <% } %>
        
        <% if(moderador!="") {%>
            <p><%= moderador %></p>                
        <% } %>
        
        <% if(empresa_moderador!="") {%>
            <p><%= empresa_moderador %></p>               
        <% } %>
        
        <% if(ponente1!="") {%>
            <p><%= ponente1 %></p>              
        <% } %>
        
        <% if(empresa_ponente1!="") {%>
            <p><%= empresa_ponente1 %></p>               
        <% } %>
        
        <% if(ponente2!="") {%>
            <p><%= ponente2 %></p>              
        <% } %>
        
        <% if(empresa_ponente2!="") {%>
            <p><%= empresa_ponente2 %></p>               
        <% } %>
        
        <% if(ponente3!="") {%>
            <p><%= ponente3 %></p>              
        <% } %>
        
        <% if(empresa_ponente3!="") {%>
            <p><%= empresa_ponente3 %></p>               
        <% } %>
        
        <% if(ponente4!="") {%>
            <p><%= ponente4 %></p>              
        <% } %>
        
        <% if(empresa_ponente4!="") {%>
            <p><%= empresa_ponente4 %></p>               
        <% } %>
        
        <% if(ponente5!="") {%>
            <p><%= ponente5 %></p>              
        <% } %>
        
        <% if(empresa_ponente5!="") {%>
            <p><%= empresa_ponente5 %></p>               
        <% } %>
                      
</li>